* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

:root {
    --background: #eee;
    --color-button: #8c8c8c;
    --black: #000;
    --white: #fff;
}

body {
    background: var(--background);
}

.container {
    width: 1250px;
    margin: 0 auto;
}

.title {
    font-size: 60px;
    font-weight: 900;
    text-decoration: none;
}

.subtitle {
    font-size: 22px;
    font-weight: 500;
    opacity: 0.5;
    text-decoration: none;
}

.content {
    margin: 80px 0px;
}

.content-button {
    display: inline;
}

.button {
    border-radius: 5px;
    border: none;
    padding: 60px 80px;
    background: var(--color-button);
    margin: 0px 10px 10px 0px;
    font-size: 30px;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
}

.button:hover {
    border: 3px solid var(--color-button);
    padding: 57px 77px;
    background: var(--white);
    color: var(--color-button);
    /* transition: 0.5s; */
}