<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- ESSE PODE IGNORAR É SÓ PARA DEIXAR NO CENTRO MESMO -->
        <style>
            body {
                height: 100vh;
                align-items: center;
                display: flex;
                justify-content: center;
            }
        </style>
        <link rel="stylesheet" href="./style.css" />
    </head>

    <body>
        dfsklgjd
        <!-- CODIGO AQUI -->
        <script src="./script.js"></script>
    </body>
</html>
