<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./.github/icon.jpg" type="image/x-icon" />
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet" />

    <title>Webcomponents</title>

    <link rel="stylesheet" href="../../css/styles.css" />
</head>

<body>
    <div class="container">
        <div class="content">
            <a href="./../../index.html" class="title">
                👈
            </a>
        </div>
        <div class="content">
            <h1 class="title">Buttons</h1>
            <h2 class="subtitle">
                Select a Button to see you
            </h2>
        </div>

        <div class="content content-button">
            <a href="javascript:void(0)" class="button"> Button No Border </a>
            <a href="javascript:void(0)" class="button"> Button On Border </a>
            <a href="javascript:void(0)" class="button"> Button Solid </a>
            <a href="javascript:void(0)" class="button"> Circle Button </a>
            <a href="javascript:void(0)" class="button"> Animated Button </a>
            <a href="javascript:void(0)" class="button"> Icon Button</a>
            <a href="javascript:void(0)" class="button"> Hover button </a>
            <a href="javascript:void(0)" class="button"> Neon Button </a>
            <a href="javascript:void(0)" class="button"> Sound Button</a>
        </div>
    </div>
    <!-- A GENTE TEM QUE ARRUMAR TIPO UM LAYOUT ONDE A GENTE VÁ LINKANDO PARA A
        PESSOA NAVEGAAR DE COMPONENTE EM COMPONENTE, MAS ISSO É COISA PARA FINAL
        DE SEMANA -->
</body>

</html>